body, button, label, input {
    font-family: "Playwrite GB S", cursive;
    font-weight: 400;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar {
        width: 100vw;
        display: flex;
        justify-content: center;
        background-color: rgb(24, 24, 24);

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 1rem 1rem;

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: white;
                    border: none;
                }
            }
        }
    }

    .btns-container {
        margin-top: 1.5rem;
        margin-bottom: 3rem;

        button {
            width: 7rem;
            height: 3rem;
            border-radius: 1rem;
        }
    }

    label {
        color: white;
        margin-bottom: 0.5rem;
    }

    .sleep-time-text {
        width: 5rem;
        height: 2rem;
        text-align: center;
    }

    canvas {
        margin: 3rem 0rem;
        width: 400px;
        max-width: 90vw;
    }

    .reset-btn {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
    }
}